<h1>Items From Feed One</h1>
<div id="item1" class="row-fluid item" onmouseover="highlightItem(1)" onmouseout="normalizeItem(1)" onclick="showFullItem(1)">
	<h4>Item One Title</h4>
	<div id="blurb1">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full1" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item2" class="row-fluid item" onmouseover="highlightItem(2)" onmouseout="normalizeItem(2)" onclick="showFullItem(2)">
	<h4>Item Two Title</h4>
	<div id="blurb2">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full2" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item3" class="row-fluid item" onmouseover="highlightItem(3)" onmouseout="normalizeItem(3)" onclick="showFullItem(3)">
	<h4>Item Three Title</h4>
	<div id="blurb3">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full3" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item4" class="row-fluid item" onmouseover="highlightItem(4)" onmouseout="normalizeItem(4)" onclick="showFullItem(4)">
	<h4>Item Four Title</h4>
	<div id="blurb4">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full4" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item5" class="row-fluid item" onmouseover="highlightItem(5)" onmouseout="normalizeItem(5)" onclick="showFullItem(5)">
	<h4>Item Five Title</h4>
	<div id="blurb5">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full5" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item6" class="row-fluid item" onmouseover="highlightItem(6)" onmouseout="normalizeItem(6)" onclick="showFullItem(6)">
	<h4>Item Six Title</h4>
	<div id="blurb6">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full6" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item7" class="row-fluid item" onmouseover="highlightItem(7)" onmouseout="normalizeItem(7)" onclick="showFullItem(7)">
	<h4>Item Seven Title</h4>
	<div id="blurb7">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full7" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item8" class="row-fluid item" onmouseover="highlightItem(8)" onmouseout="normalizeItem(8)" onclick="showFullItem(8)">
	<h4>Item Eight Title</h4>
	<div id="blurb8">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full8" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item9" class="row-fluid item" onmouseover="highlightItem(9)" onmouseout="normalizeItem(9)" onclick="showFullItem(9)">
	<h4>Item Nine Title</h4>
	<div id="blurb9">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full9" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>
<div id="item10" class="row-fluid item" onmouseover="highlightItem(10)" onmouseout="normalizeItem(10)" onclick="showFullItem(10)">
	<h4>Item Ten Title</h4>
	<div id="blurb10">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ip...
	</div>
	<div id="full10" style="display: none;">
		ipsum lorem lorem lorem ipsum ipsum ipsum set lorem lorem lorem set ipsum set ipsum lorem dolor dolor lorem lorem dolor dolor dolor ipsum ipsum set ipsum ipsum set lorem lorem set set dolor lorem set ipsum set lorem set set set dolor ipsum set ipsum ipsum dolor set dolor set set set ipsum dolor lorem set set dolor set ipsum set lorem set set lorem dolor set lorem dolor ipsum lorem dolor ipsum lorem dolor ipsum ipsum ipsum ipsum ipsum dolor lorem dolor ipsum lorem set set dolor dolor dolor dolor set lorem lorem lorem ipsum dolor set lorem set lorem set lorem lorem ipsum lorem dolor ipsum dolor lorem lorem lorem set dolor lorem dolor lorem set dolor ipsum set ipsum set lorem lorem ipsum lorem set lorem lorem set ipsum ipsum dolor dolor dolor lorem dolor set
	</div>
</div>

<div class="row-fluid">
	<div class="pagination">
		<ul>
			<li><a href="#">&laquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">&raquo;</a></li>          		
		</ul>
	</div>
</div>