<h1>Details</h1>
<fieldset>
	<legend>Feed</legend>
	<div style="margin-bottom: 10px;">
		<label><strong>Url</strong></label>
		<a href="#">http://www.fabrikam.com/feeds</a>		
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Name</strong></label>
		Fabrikam Feed
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Notes</strong></label>
		Fabrikam notes here.
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Last Updated On</strong></label>    
		12 Dec, 10:40 AM
	</div>
	<div style="margin-bottom: 10px;">
		<label><strong>Number Of Items</strong></label>    
		120
	</div> 
	<div style="margin-bottom: 10px;">
		<label><strong>Number Of Unread Items</strong></label>    
		50
	</div>   					
</fieldset>
<p>
	<a href="#" class="btn btn-inverse">Pin</a>
	<a href="/feeds/1/edit/" class="btn btn-warning">Edit</a>
	<a href="#" class="btn btn-danger">Delete</a>	
</p>