<!DOCTYPE html>
<html>
<head>
  <title>Links in the cloud</title>
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" />
  <link rel="stylesheet" href="/css/snapdragon.css" type="text/css" />
  <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body style="padding-top: 0; padding-bottom: 0;">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="/">Snapdragon</a>				
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<%= yield %>							  
			</div><!--/span-->			
		</div><!--/row-->

		<hr>		
	</div><!--/.fluid-container-->

</body>
</html>