<h1><%= @heading %></h1>
<form action="<%= @next %>" method="get">	
	<div style="margin-bottom: 10px;">
		<label for="id_url"><strong>Url</strong></label>
		<input id="id_url" name="url" type="text" class="input-block-level" />
	</div>	
  <div class="actions">
  	<input type="submit", class="btn btn-primary" value="Next" />    
  </div>
</form>