<div class="hero-unit">
	<h1>Feeds and Bookmarks in the cloud</h1>
	<p>A no-nonsense feeds and bookmarking application in the cloud. A simple way to save your feeds and bookmarks in one place. You can access them from any device including phones, PCs, tables, and gaming consoles.</p>
	<p><a href="<%= @login_url %>" class="btn btn-primary btn-large">Sign in with Facebook &raquo;</a></p>
</div>
<div class="row-fluid">
	<div class="span4">            	
		<h3>Reduce news feeds overload</h3>
		<p>
			Automatically filters news items across all your feeds based on your reading habits. Access individual feeds as well.
		</p>              
	</div><!--/span-->
	<div class="span4">
		<h3>Automatic grouping</h3>
		<p>
			Automatically groups your bookmarks and feeds for better categorization. No need to remember which tags you had used when you saved the bookmark months ago.
		</p>              
	</div><!--/span-->
	<div class="span4">
		<h3>Pinned links</h3>
		<p>
			Pin bookmarks and feeds to all pages of the application for quick access to your most used links.
		</p>            
	</div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
	<div class="span4">
		<h3>Deeper search</h3>
		<p>
			Search through the actual content of your bookmarks and feeds. No need to remember tags and notes you may have added months ago.
		</p>
	</div><!--/span-->
	<div class="span4">
		<h3>Multiple devices</h3>
		<p>
			Save bookmarks and feeds from any device using our browser buttons or simply emailing the link to us. Drag these buttons onto your browser. 
			<div><a href="javascript:(function(){ url = &#39;http://localhost:4567/bookmarks/next?url=&#39;+encodeURIComponent(window.location.href)+&#39;&amp;title=&#39;+encodeURIComponent(document.title); features = &#39;location=1,links=0,scrollbars=0,toolbar=0,width=550,height=620&#39;; window.open(url+&#39;&amp;popup=true&#39;, &#39;somename&#39;, features) })()" title="+B" class="btn btn-inverse">+B</a>
			<a href="javascript:(function(){ url = &#39;http://localhost:4567/bookmarks/next?url=&#39;+encodeURIComponent(window.location.href)+&#39;&amp;title=&#39;+encodeURIComponent(document.title); features = &#39;location=1,links=0,scrollbars=0,toolbar=0,width=550,height=620&#39;; window.open(url+&#39;&amp;popup=true&#39;, &#39;somename&#39;, features) })()" title="+F" class="btn btn-inverse">+F</a></div>

		</p>
	</div><!--/span-->
	<div class="span4">
		<h3>No social</h3>
		<p>
			This service is made for you, not your friends. No automatic sharing of each and every news item you read or web page you bookmark.
		</p>
	</div><!--/span-->
</div><!--/row-->			  